.orderListPageContainer {
    width: 1180px;
    margin: 0 auto;
    border: 2px solid blue;
    border-collapse: collapse;
}

.orderListPageContainer>thead th {
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    background-color: rgb(189, 189, 189);
}

.orderListPageContainer th,
.orderListPageContainer td {
    border: 1px solid black;
}

/* [3] map돌리는 orderDetailItem.=============================================================================== */

.orderDetailItem {
    height: 80px;
}


.orderDetailDataPmCode {
    text-align: center;
}

.orderDetailPmCode {
    margin-top: 10px;
}


.orderListItemImg {
    display: inline-block;
    border: 1px solid rgb(154, 154, 154);
    width: 40px;
    height: 55px;
    margin-left: 10px;
    margin-top: 5px;
}