.LogIn {
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 1240px;
    margin: auto;
    margin-bottom: 100px;
}

.log_in_logo_container {
    justify-content: center;
    margin-bottom: 50px;
}

.log_in_form {
    margin: auto;
    width: 80%;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    background-color: honeydew;
    text-align: center;
}

.log_in_field {
    border: none;
    height: 500px;
}

.log_in_field>div {
    width: 50%;
    margin: auto;
}

.log_in_id,
.log_in_pw {
    font-size: 20px;
    width: 80%;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    margin: 10px 20px;
}

.log_in_checkbox {
    margin: 15px 5px;
    display: inline-block;
}

#log_in_checkbox_saveId {
    margin-left: 15px;
}

.log_in_checkbox label {
    color: #666;
}

#log_in_button {
    width: calc(80% + 10px);
    margin: 10px 20px;
    height: 50px;
    line-height: 50px;
    border: none;
    background-color: rgb(119, 175, 107);
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    color: white;

    /* 로그인 버튼 비활성화 */
    &:disabled {
        background-color: #666
    }
}

.log_in_find_container {
    margin: 10px;
}

.log_in_find_id {
    margin-right: 10px;
}

.log_in_find_id a:hover {
    font-weight: bold;
    color: green;
}

.log_in_join_membership {
    margin-left: 10px;
}

.log_in_join_membership a:hover {
    font-weight: bold;
    color: green;
}

.log_in_find_container a {
    color: black;
    text-decoration: none;
}

.log_in_error_message {
    color: red;
    font-size: 70%;
    margin-left: 45px;
    text-align: left;
}

.log_in_ad {
    flex-direction: column;
}

.log_in_product {
    margin-top: 10px;
}

.log_in_product img {
    width: 170px;
}

.log_in_product a:first-child {
    margin-right: 20px;
}