.coupon_list_container {
    width: 1240px;
    margin: 0 auto;
    margin-top: 30px;
}

.coupon_page_title {
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}

.coupon_page_title_hr {
    margin: 15px 0;
}

.coupon_category {
    width: 80%;
    margin: 0 auto 100px;
    text-align: center;
}

.coupon_category_title {
    width: 90%;
    margin: 0 auto 20px;
    text-align: left;
}

.coupon_item {
    width: calc(90% / 3);
    height: 220px;
    display: inline-block;
    background-color: #edf2fb;
}


.coupon_box {
    height: 150px;
    display: inline-block;
    margin: 20px;
}

.coupon_box_title {
    width: 195px;
    margin: 0 auto 5px;
    text-align: left;
}

.coupon_get_button {
    width: 195px;
    height: 35px;
}

/* .first_buy_coupon,
.month_coupon,
.birth_coupon {
    width: 70%;
    height: 400px;
    margin: 0 auto;
} */

.popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}