.pagination {
    text-align: center;
}

.pagination button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 5px;
    border: 0px;
    cursor: pointer;
}

.pagination_button_active {
    font-size: 18px;
    font-weight: bold;
    color: red;
}