.BookmarkPageContainer {
  margin: 40px auto;
  width: 1240px;
  /* border: 2px solid red; */
}

.BookmarkPageTitleSubtitle {
  margin-bottom: 30px;
}

.BookmarkPageTitle {
  font-size: 28px;
  font-weight: bold;
}


.BookmarkPageSubtitle {
  font-size: 12px;
}


/* 그리드=================================================================================== */
.BookmarkPageGridCover {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 37px;
}