.productListPageContainer {
  margin: 0 auto;
  margin-top: 30px;
  /* border: 3px solid red; */
  width: 1500px;
  display: flex;
}

/* 사이드바======================================================================================================= */

.KeywordSideBar {
  display: flex;
  justify-self: center;
  margin-top: 20px;
  transition: transform 0.9s ease;
}

.RecentSideBar {
  /* margin-top: 20px; */
  transition: transform 0.9s ease;
}

/* 상품판매 ======================================================================================================= */
.ProductListPageKeywordCheckBoxWrapper {
  background-color: rgb(162, 224, 138);
  border: 1px solid rgb(162, 224, 138);
  border-radius: 6px;
  margin-bottom: 14px;
  width: 70%;
}

.productListPageCategoryCheckBox {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.productListPageCategoryCheckBoxLabel {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;

}

.ProductListPageKeywordCheckBoxWrapper input {
  display: inline-block;
  width: 25px;
  height: 25px;

}

.ProductListPage_SortOption button {
  display: inline-block;
  background-color: rgb(183, 212, 175);
  border: 1px solid rgb(183, 212, 175);
  color: rgb(90, 90, 90);
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  width: 70px;
  height: 30px;
  font-size: 13px;
  margin-right: 17px;
  margin-bottom: 8px;
}

.ProductListPage_SortOption button:hover {
  background-color: rgb(132, 201, 113);
  color: black;
}

.productListPageDisplayContentContainer {
  /* border: 5px solid green; */
  width: 920px;
  margin: 0 auto;
}

.ProductListPageTitleAndSize {
  margin-top: 20px;
}

.ProductListPageCurrentKeywordTitle {
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  /* border:3px solid green; */
}

.ProductListPageHandleSize {
  float: right;
  width: 100px;
  height: 30px;
  text-align: center;
}

.ProductListPageCurrentKeywordTitleHrLine {
  margin-top: 15px;
  margin-bottom: 38px;
}

.productListItemMapedArea {
  margin: 0 auto;
}

.productList_pageNationButton_selected,
.productList_pageNationButton_ {
  display: inline-block;
  margin: 3px 20px;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.productList_pageNationButton_selected {
  background-color: red;
}

.productListPage_pageNationButton {
  text-align: center;
}

/* 사이드바========================================================================================================== */